*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    background: hsl(228, 33%, 97%);
    color:hsl(0, 0%, 20%);
}

a{
    text-decoration: none;
    color: inherit;
}

.navbar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 20px 60px;
 position: fixed;
 top: 0;
 width: 100%;
 background: hsl(0, 0%, 100%);
 box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
 z-index: 1000;
}

.navbar .logo {
    font-size: 28px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    color: hsl(241, 77%, 59%);
}

.navbar ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar ul li a{
    font-weight: 500;
    transition: 0.3s;
}

.navbar ul li a:hover{
 font-weight:bold;
 color:black;
}
.navbar ul li a.btn{
    color: hsla(0, 0%, 100%, 1.00);
}

.navbar ul li a.btn{
    background: hsl(241, 77%, 59%);
    padding: 8px 20px;
    border-radius: 8px;
    transition: 0.3s;

}
.navbar ul li a.btn:hover{
    background: hsl(241, 56%, 49%);
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 60px 60px 60px;

}

.hero-text h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    color: hsl(240, 22%, 15%);

}

.hero-text p {
    margin-top:20px;
    font-size: 18px;
    line-height: 1.6;
    color: hsl(0, 0%, 33%);
    
}
.hero-img img{
    width: 550px;
    border-radius: 20px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
    animation: fadeInRight 1s ease;

}

.features {
    padding:60px;
    text-align: center;

}

.features h2 {
    font-size: 34px;
    font-weight: 700;
    color: hsl(240, 22%, 15%);
    margin-bottom: 40px;


}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:25px;

}
.feature-card {
    background: hsl(0, 0%, 100%);
    padding:25px;
    border-radius: 14px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    transition: 0.3s;

}

.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

.feature-card h3 {
    font-size: 22px;
    color: hsl(241, 77%, 59%);

}

.feature-card p {
    margin-top: 10px;
    line-height: 1.6;
    color: hsl(0, 0%, 33%);

}

.auth-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, hsl(241, 77%, 59%), hsl(241, 56%, 49%));

}

.auth-card {
    background: hsl(0, 0%, 100%);
    padding: 50px 40px;
    border-radius: 14px;
    width: 350px;
    text-align: center;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
    animation: fadeInScale 0.8 ease;

}

.auth-card h2 {
    margin-bottom: 15px;
    font-size: 28px;
    color: hsl(240, 22%, 15%);

}

.auth-card p {
    font-size: 16px;
    margin-bottom: 20px;
    color: hsl(0, 0%, 33%);

}

.auth-card input {
    width: 90%;
    padding: 14px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 80%);
    font-size: 15px;
    transition: 0.3s;

}
.auth-card input:focus {
    border-color: hsl(241, 77%, 59%);
    box-shadow: 0 0 8px rgba(74,71,231,0.3);
    outline: none;

}
.auth-card button.primary-btn {
    width: 95%;
    margin-top: 15px;
    padding: 14px;
    border: none;
    cursor: pointer;

}
.auth-card .swith-text {
    margin-top: 12px;
    font-size: 14px;

}

.auth-card .swith-text a{
    color: hsl(241, 77%, 59%);
    font-weight: 600;
    transition: 0.3s;

}

.auth-card .swith-text a:hover{
    color: hsl(241, 56%, 49%);

}
.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    width: 100%;
    padding-right: 45px;
}

.password-wrapper .toggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #777;
    transition: 0.3s ease;
}

.password-wrapper .toggle-password:hover {
    color: #000;
    transform: translateY(-50%) scale(1.15);
}

.primary-btn {
    background: #4b7bec;
    color: #fff;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: 0.25s ease;
    box-shadow: 0 4px 12px rgba(75,123,236,0.3);
}

.primary-btn:active {
    transform: scale(0.96);
    box-shadow: 0 2px 6px rgba(75,123,236,0.2);
}

.primary-btn:hover {
    background: #3867d6;
    box-shadow: 0 5px 16px rgba(56,103,214,0.4);
}

@keyframes fadeInLeft {
    from { opacity: 0; transform: translateX(-40px); }
    to { opacity: 1; transform: translateX(0); }

}

@keyframes fadeInRight {
    from { opacity: 0; transform: translateX(40px); }
    to { opacity: 1; transform: scale(1); }

}

@keyframes fadeInScale {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

@media screen and (max-width: 900px) {
    .hero {
        flex-direction: column-reverse;
        text-align: center;
        gap: 40px;
        padding: 120px 30px 60px 30px;

    }
    .hero-img img {
        width: 90%;

    }
    .feature-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    }
    .navbar {
        padding: 20px 30px;
    }
}

@media screen and (max-width: 500px) {

    .auth-card {
        width: 90%;
        padding: 40px 20px;
    }

    .hero-text h1 {
        font-size: 36px;
    }
}